@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()

        <div class="">
            <p>
                <strong>Usuario:</strong>
                @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </p>
            <p>
                <strong>Data e horário de acesso:</strong>
                <span>@DateTime.Now</span>
            </p>

        </div>

    <button type="button" id="CadastroCliente" class="btn btn-light" btn-lg">@Html.ActionLink("Cadastro cliente", "Cadastro", "Cliente")</button>
    <a class="btn btn-primary" btn-lg" id="sair" href="javascript:document.getElementById('logoutForm').submit()">Sair do sistema</a>

    }
}
else
{
    <h2 style="text-align: center">Você não está logado, clique abaixo para logar</h2>
    <button class="btn btn-light btn-lg login">@Html.ActionLink("Fazer Login", "Login", "Account")</button>
}

<link href="~/Content/assets/Index.css" rel="stylesheet" />
<script src="~/Scripts/Interno/Index.js"></script>